@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jost:wght@300&display=swap');

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}

.logoRC {
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
}
ul li {
    list-style: none;
}